.custom-block
  .custom-block-title
    font-weight 600
    letter-spacing 0.1rem
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border none
    border-radius 6px
    margin 1rem 0
  &.tip
    background-color $badgeTipColorDefault
    background-color var(--badgeTipColor)
  &.warning
    background-color $badgeWarningColorDefault
    background-color var(--badgeWarningColor)
    color $badgeWarningTextColorDefault
    color var(--badgeWarningTextColor)
    .custom-block-title
      color $badgeWarningTitleColorDefault
      color var(--badgeWarningTitleColor)
    a
      color $textMutedColorDefault
      color var(--textMutedColor)
  &.danger
    background-color $badgeErrorColorDefault
    background-color var(--badgeErrorColor)
    color $badgeErrorTextColorDefault
    color var(--badgeErrorTextColor)
    .custom-block-title
      color $badgeErrorTitleColorDefault
      color var(--badgeErrorTitleColor)
    a
      color $textMutedColorDefault
      color var(--textMutedColor)
  &.details
    display block
    position relative
    border-radius 6px
    margin 1em 0
    padding 1.5em
    background-color $selectionColorDefault
    background-color var(--selectionColor)
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
