// font
$themeFont = "https://rsms.me/inter/inter.css" "https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
$bodyFontFamily = "Inter"
$monoFontFamily = "Roboto Mono"

// fallback theme
$fallbackTheme = 'dark'
