// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$bodyBgColor = #fff
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #da5961

// font
$themeFont = "https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700|Lato:400,400i,700,700i&display=swap"
$bodyFontFamily = "Lato"
$monoFontFamily = "IBM Plex Mono"
$bodyFontSize = 16px

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
