// colors
$accentColor = #309b5b
$textColor = #21262c
$borderColor = #eaefec
$codeBgColor = #282c34
$arrowBgColor = #ccc
$bodyBgColor = #fff

// font
$themeFont = "https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,400i,700,700i"
$bodyFontFamily = "Roboto"
$monoFontFamily = "Roboto Mono"
$bodyFontSize = 18px

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

@import '~@temp/palette.styl'