$contentClass = '.theme-succinct-content'

// colors - light theme
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$bodyBgColor = #fff
$badgeTipColor = #e7f1ec
$badgeWarningColor = #f8f2d1
$badgeErrorColor = #ffdadc

// colors - dark theme
$accentColorDark = #3eaf7c
$textColorDark = #e2e1db
$borderColorDark = #4c525c
$codeBgColorDark = #1a1c22
$arrowBgColorDark = #555
$bodyBgColorDark = #25262b
$badgeTipColorDark = #1b4b35
$badgeWarningColorDark = #574e21
$badgeErrorColorDark = #692025

// font
$bodyFontSize = 18px
$textSizeAdjust = false

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

if $fallbackTheme == 'dark'
  $accentColorDefault = $accentColorDark
  $textColorDefault = $textColorDark
  $textMutedColorDefault = darken($textColorDark, 25%)
  $selectionColorDefault = transparentify($textColorDark, $bodyBgColorDark, 0.1)
  $headerColorDefault = darken($textColorDark, 5%)
  $descriptionColorDefault = darken($textColorDark, 10%)
  $borderColorDefault = $borderColorDark
  $codeColorDefault = darken($textColorDark, 20%)
  $codeBgColorDefault = $codeBgColorDark
  $codeBgHighlightColorDefault = tint($codeBgColorDark, 3%)
  $arrowBgColorDefault = $arrowBgColorDark
  $bodyBgColorDefault = $bodyBgColorDark
  $bodyComplementColorDefault = lighten($bodyBgColorDark, 5%)
  $badgeTipColorDefault = $badgeTipColorDark
  $badgeWarningColorDefault = $badgeWarningColorDark
  $badgeWarningTextColorDefault = lighten($badgeWarningColorDark, 70%)
  $badgeWarningTitleColorDefault = lighten($badgeWarningColorDark, 50%)
  $badgeErrorColorDefault = $badgeErrorColorDark
  $badgeErrorTextColorDefault = lighten($badgeErrorColorDark, 70%)
  $badgeErrorTitleColorDefault = lighten($badgeErrorColorDark, 50%)
  $actionBtnBorderColorDefault = darken($accentColorDark, 10%)
  $actionBtnHoverBorderColorDefault = darken($accentColorDark, 10%)
  $codeBlockActiveColorDefault = darken($accentColorDark, 35%)
  $navItemHoverColorDefault = darken($accentColorDark, 8%)
else
  $accentColorDefault = $accentColor
  $textColorDefault = $textColor
  $textMutedColorDefault = lighten($textColor, 25%)
  $selectionColorDefault = transparentify($textColor, $bodyBgColor, 0.1)
  $headerColorDefault = lighten($textColor, 10%)
  $descriptionColorDefault = lighten($textColor, 40%)
  $borderColorDefault = $borderColor
  $codeColorDefault = lighten($textColor, 20%)
  $codeBgColorDefault = $codeBgColor
  $codeBgHighlightColorDefault = tint($codeBgColor, 10%)
  $arrowBgColorDefault = $arrowBgColor
  $bodyBgColorDefault = $bodyBgColor
  $bodyComplementColorDefault = darken($bodyBgColor, 2%)
  $badgeTipColorDefault = $badgeTipColor
  $badgeWarningColorDefault = $badgeWarningColor
  $badgeWarningTextColorDefault = darken($badgeWarningColor, 70%)
  $badgeWarningTitleColorDefault = darken($badgeWarningColor, 50%)
  $badgeErrorColorDefault = $badgeErrorColor
  $badgeErrorTextColorDefault = darken($badgeErrorColor, 70%)
  $badgeErrorTitleColorDefault = darken($badgeErrorColor, 50%)
  $actionBtnBorderColorDefault = darken($accentColor, 10%)
  $actionBtnHoverBorderColorDefault = lighten($accentColor, 10%)
  $codeBlockActiveColorDefault = darken($accentColor, 35%)
  $navItemHoverColorDefault = lighten($accentColor, 8%)

@import '~@temp/palette.styl'