$tipAccent = #42b983
$warningAccent = #c4a300
$dangerAccent = #e2442f

.custom-block
  .custom-block-title
    font-weight 600
    letter-spacing 0.1rem
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1rem
    border-left-width .25rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color alpha($tipAccent, 0.25)
    border-color $tipAccent
  &.warning
    background-color alpha($warningAccent, 0.25)
    border-color $warningAccent
    color $warningAccent
    .custom-block-title
      color darken($warningAccent, 5)
  &.danger
    background-color alpha($dangerAccent, 0.25)
    border-color $dangerAccent
    color $dangerAccent
    .custom-block-title
      color darken($dangerAccent, 5)

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

